POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres

AIRFLOW_DB_USER=airflow
AIRFLOW_DB_PASSWORD=airflow
AIRFLOW_DB=airflow

METABASE_DB_USER=metabase
METABASE_DB_PASSWORD=metabase
METABASE_DB=metabase
